@model IEnumerable<ZVRPub.MVCFrontEnd.Models.Order>

@{
    ViewData["Title"] = "IndexAsync";
}

<h2>IndexAsync</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<li>Logged in as: @TempData.Peek("username")</li>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.OrderId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OrderTime)
            </th>
            @*<th>
                @Html.DisplayNameFor(model => model.LocationId)
            </th>*@
            @*<th>
                @Html.DisplayNameFor(model => model.UserId)
            </th>*@
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.OrderId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OrderTime)
            </td>
            @*<td>
                @Html.DisplayFor(modelItem => item.LocationId)
            </td>*@
            @*<td>
                @Html.DisplayFor(modelItem => item.UserId)
            </td>*@
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
